/**
 *	Reset.
 */

html {
	background: #fafafa;
	color: #222;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 1.25em;
	line-height: 1.5em;
}

html, body, p, ul {
	margin: 0;
	padding: 0;
}

a {
	color: #d00;
	text-decoration: none;
	-webkit-transition: color ease-in 100ms;
	-moz-transition: color ease-in 100ms;
	-o-transition: color ease-in 100ms;
	transition: color ease-in 100ms;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #a00;
}



/**
 *	Utilities.
 */

.container {
	margin: 0 auto;
	padding: 0 1.5em;
	max-width: 35em;
}



/**
 *	Layout.
 */

.page-header {
	border-bottom: 1px solid #eee;
	padding: 1.5em 0;
	background: #222;
	color: #fff;
	-webkit-box-shadow: 0 -0.6em 0.5em -0.5em #000 inset;
	-moz-box-shadow: 0 -0.6em 0.5em -0.5em #000 inset;
	box-shadow: 0 -0.6em 0.5em -0.5em #000 inset;
	text-shadow: -1px -1px 0.25em #000;
}

.page-header a {
	color: #fff;
}

.page-header p,
.page-header nav,
.page-header ul,
.page-header li {
	display: inline;
	display: inline-block;
}

.blog-title {
	padding: 0.75em 0;
	font-weight: bold;
}

.blog-menu ul {
	padding-left: 1.5em;
	list-style: none;
}

.blog-menu a {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0.75em;
	background: #333;
	-webkit-transition: background-color ease-in 100ms;
	-moz-transition: background-color ease-in 100ms;
	-o-transition: background-color ease-in 100ms;
	transition: background-color ease-in 100ms;
}

.blog-menu a:hover {
	background: #444;
	text-decoration: none;
}

.page {
	padding: 6em 0;
	background: #fff;
}

.page-footer {
	border-top: 1px solid #eee;
	padding: 3em 0;
}

.page-footer p {
	color: #aaa;
	font-style: italic;
	font-size: 0.8em;
	line-height: 1.875em;
	text-shadow: -1px -1px 0.25em #fff;
}

.page-footer a {
	color: #aaa;
	font-weight: bold;
}



/**
 *	Entries.
 */

.entry-header {
	margin-bottom: 1.5em;
}

.entry-title {
	margin: 0;
	font-size: 2.5em;
	line-height: 1.2em;
}

.entry-subtitle {
	color: #aaa;
	font-size: 0.8em;
	line-height: 1.875em;
}

.entry-body p {
	margin-bottom: 1.5em;
}

.entry-body ul {
	padding-left: 1.5em;
}
